.carousel-inner img{
    width: 100%;
    height: 100%;
    margin: auto;

}
.carousel-Item img{
    width: 100%;
    height: 100%;

}
.carousel-caption{
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50); */
}